<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dental.mapper.DoctorSchedulesMapper">
    
    <resultMap type="com.ruoyi.dental.domain.DoctorSchedules" id="DoctorSchedulesResult">
        <result property="id"    column="id"    />
        <result property="doctorId"    column="doctor_id"    />
        <result property="date"    column="date"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="appNum"    column="app_num"    />
        <result property="maxNum"    column="max_num"    />
    </resultMap>

    <resultMap type="com.ruoyi.dental.domain.vo.DoctorSchedulesVo" id="DoctorSchedulesVoResult">
        <result property="id"    column="id"    />
        <result property="doctorName"    column="doctor_name"    />
        <result property="userId"    column="user_id"    />
        <result property="doctorId"    column="doctor_id"    />
        <result property="date"    column="date"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="maxNum"    column="max_num"    />
        <result property="appNum"    column="app_num"    />
    </resultMap>

    <sql id="selectDoctorSchedulesVo">
        select sc.id, sc.doctor_id, doc.user_id as user_id,doc.name as doctor_name,
               sc.date, sc.status, sc.create_time, sc.update_time,
               sc.app_num , sc.max_num
        from tb_doctor_schedules as sc
        left join tb_doctors as doc on sc.doctor_id = doc.id
    </sql>

    <select id="selectDoctorSchedulesList" parameterType="com.ruoyi.dental.domain.vo.DoctorSchedulesVo" resultMap="DoctorSchedulesVoResult">
        select sc.id, sc.doctor_id, doc.user_id as user_id,doc.name as doctor_name,
        sc.date, sc.status, sc.create_time, sc.update_time,
        sc.app_num ,sc.max_num from tb_doctor_schedules as sc
        left join tb_doctors as doc on sc.doctor_id = doc.id
        <where>
            <if test="doctorName != null">
                and doc.name like concat('%', #{doctorName}, '%')
            </if>
            <if test="date != null"> and date = #{date}</if>
            <if test="status != null"> and sc.status = #{status}</if>
            <if test="appNum != null"> and app_num = #{appNum}</if>
            ${params.dataScope}
        </where>
        order by
        case
        when sc.date >= CURRENT_DATE then 0  -- 未来日期优先级高
        else 1                               -- 过去日期优先级低
        end,
        abs(datediff(sc.date, CURRENT_DATE))     -- 按距离当前日期的绝对值排序
    </select>
    
    <select id="selectDoctorSchedulesById" parameterType="Long" resultMap="DoctorSchedulesVoResult">
        <include refid="selectDoctorSchedulesVo"/>
        where sc.doctor_id= #{id}
    </select>

    <insert id="insertDoctorSchedules" parameterType="com.ruoyi.dental.domain.DoctorSchedules">
        insert into tb_doctor_schedules
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="doctorId != null">doctor_id,</if>
            <if test="date != null">date,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="appNum != null">app_num,</if>
            <if test="maxNum != null">maxNum,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="doctorId != null">#{doctorId},</if>
            <if test="date != null">#{date},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="appNum != null">#{appNum},</if>
            <if test="maxNum != null">#{maxNum},</if>
        </trim>
    </insert>

    <update id="updateDoctorSchedules" parameterType="com.ruoyi.dental.domain.DoctorSchedules">
        update tb_doctor_schedules
        <trim prefix="SET" suffixOverrides=",">
            <if test="doctorId != null">doctor_id = #{doctorId},</if>
            <if test="date != null">date = #{date},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="appNum != null">app_num = #{appNum},</if>
            <if test="maxNum != null">max_num = #{maxNum},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateByScheduleId">
        update tb_doctor_schedules
        SET
            app_num = app_num + 1
        where
            id = #{scheduleId}
           and max_num > app_num
    </update>

    <delete id="deleteDoctorSchedulesById" parameterType="Long">
        delete from tb_doctor_schedules where id = #{id}
    </delete>



</mapper>