<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dental.mapper.UserAppInfoMapper">

    <resultMap type="com.ruoyi.dental.domain.UserAppInfo" id="UserAppInfoResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="scheduleId"    column="schedule_id"    />
        <result property="doctorId"    column="doctor_id"    />
        <result property="name"    column="name"    />
        <result property="status"    column="status"    />
        <result property="appStatus"    column="app_status"    />
        <result property="phone"    column="phone"    />
        <result property="idcard"    column="idcard"    />
        <result property="cancelReason"    column="cancel_reason"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <resultMap type="com.ruoyi.dental.domain.vo.UserAppInfoDto" id="UserAppInfoDtoResult">
        <result property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="doctorId" column="doctor_id" />
        <result property="doctorName" column="doctor_name" />
        <result property="scheduleId" column="schedule_id" />
        <result property="scheduleDate" column="schedule_date" />
        <result property="name" column="name" />
        <result property="status" column="status" />
        <result property="appStatus" column="app_status" />
        <result property="patientId" column="patient_id" />
        <result property="phone" column="phone" />
        <result property="idcard" column="idcard" />
        <result property="cancelReason" column="cancel_reason" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>
    <select id="getDoctorAppNum" resultType="com.ruoyi.dental.domain.vo.AppNumVo" >
        select docker_id as doctorId,count(docker_id) as num
        from tb_user_app_info
        where status = 2 group by docker_id
    </select>
    <select id="AppDetailVolsit" resultType="com.ruoyi.dental.domain.vo.AppDetailVo">
        SELECT
            tb_user_app_info.id,
            tb_d.avatar,
            tb_user_app_info.NAME as 'name',
            tb_d.NAME AS 'doctorName',
            tb_d.hospital AS hospital,
            tb_user_app_info.STATUS as `status`,
            app_status AS appStatus,
            tb_user_app_info.phone,
            tb_user_app_info.idcard,
            tb_user_app_info.cancel_reason AS cancelReason,
            tb_ds.DATE AS DATE
        FROM
            tb_user_app_info
            LEFT JOIN tb_doctors AS tb_d ON tb_user_app_info.doctor_id = tb_d.id
            LEFT JOIN tb_doctor_schedules AS tb_ds ON tb_user_app_info.schedule_id = tb_ds.id
         <where>
             <if test="userId != null">
                     AND tb_user_app_info.user_id = #{userId}
             </if>
         </where>
        ORDER BY
            tb_user_app_info.create_time DESC
    </select>


    <sql id="selectUserAppInfoVo">
        select id, user_id, schedule_id, doctor_id, name, status, app_status, phone, idcard, cancel_reason, create_time, update_time from tb_user_app_info
    </sql>


    <sql id="selectUserAppInfoDto">
        select id, user_id, schedule_id, doctor_id, name, status, app_status, phone, idcard, cancel_reason, create_time, update_time from tb_user_app_info
    </sql>

    <select id="selectUserAppInfoList" parameterType="com.ruoyi.dental.domain.vo.UserAppInfoDto" resultMap="UserAppInfoDtoResult">
        SELECT
            uai.id,
            uai.user_id,  <!-- 移除AS userId -->
            uai.doctor_id,  <!-- 移除AS doctorId -->
            td.name AS doctor_name,  <!-- 修改为下划线命名 -->
            uai.schedule_id,  <!-- 移除AS scheduleId -->
            tds.date AS schedule_date,  <!-- 修改为下划线命名 -->
            uai.patient_id,
            uai.name,
            uai.status,
            uai.app_status,
            uai.phone,
            uai.idcard,
            uai.cancel_reason,
            uai.create_time,
            uai.update_time
        FROM
            tb_user_app_info uai
        LEFT JOIN tb_doctors td ON uai.doctor_id = td.id
        LEFT JOIN tb_doctor_schedules tds ON uai.schedule_id = tds.id
        <where>
            <if test="userId != null">uai.user_id = #{userId}</if>
            <if test="scheduleId != null"> AND uai.schedule_id = #{scheduleId}</if>
            <if test="doctorId != null"> AND uai.doctor_id = #{doctorId}</if>
            <if test="name != null and name != ''"> AND uai.name LIKE CONCAT('%', #{name}, '%')</if>
            <if test="doctorName != null and doctorName != ''"> AND td.name LIKE CONCAT('%', #{doctorName}, '%')</if>
            <if test="status != null"> AND uai.status = #{status}</if>
            <if test="appStatus != null"> AND uai.app_status = #{appStatus}</if>
            <if test="phone != null and phone != ''"> AND uai.phone = #{phone}</if>
            <if test="idcard != null and idcard != ''"> AND uai.idcard = #{idcard}</if>
            <if test="cancelReason != null and cancelReason != ''"> AND uai.cancel_reason LIKE CONCAT('%', #{cancelReason}, '%')</if>
            <if test="scheduleDate !=null">  AND DATE(tds.date) = DATE(#{scheduleDate})</if>
            ${params.dataScope}
        </where>
        ORDER BY uai.create_time DESC
    </select>

    <select id="selectUserAppInfoById" parameterType="Long" resultMap="UserAppInfoResult">
        <include refid="selectUserAppInfoVo"/>
        where id = #{id}
    </select>
    <select id="listschedule" resultType="com.ruoyi.dental.domain.Dto.AdminUserAppinfoDto">
        SELECT
            count( 1 ) AS
        VALUE
        ,
        STATUS,
        CASE
        STATUS
            WHEN 0 THEN
            '预约成功'
            WHEN 1 THEN
            '已完成'
            WHEN 2 THEN
            '取消'
            WHEN 3 THEN
            '就诊中' ELSE '未知状态'
            END AS `name`
        FROM
        tb_user_app_info
        GROUP BY
        STATUS
    </select>

    <insert id="insertUserAppInfo" parameterType="com.ruoyi.dental.domain.UserAppInfo">
        insert into tb_user_app_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="scheduleId != null">schedule_id,</if>
            <if test="doctorId != null">doctor_id,</if>
            <if test="name != null">name,</if>
            <if test="status != null">status,</if>
            <if test="appStatus != null">app_status,</if>
            <if test="phone != null">phone,</if>
            <if test="idcard != null">idcard,</if>
            <if test="cancelReason != null">cancel_reason,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="scheduleId != null">#{scheduleId},</if>
            <if test="doctorId != null">#{doctorId},</if>
            <if test="name != null">#{name},</if>
            <if test="status != null">#{status},</if>
            <if test="appStatus != null">#{appStatus},</if>
            <if test="phone != null">#{phone},</if>
            <if test="idcard != null">#{idcard},</if>
            <if test="cancelReason != null">#{cancelReason},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateUserAppInfo" parameterType="com.ruoyi.dental.domain.UserAppInfo">
        update tb_user_app_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="scheduleId != null">schedule_id = #{scheduleId},</if>
            <if test="doctorId != null">doctor_id = #{doctorId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="status != null">status = #{status},</if>
            <if test="appStatus != null">app_status = #{appStatus},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="idcard != null">idcard = #{idcard},</if>
            <if test="cancelReason != null">cancel_reason = #{cancelReason},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserAppInfoById" parameterType="Long">
        delete from tb_user_app_info where id = #{id}
    </delete>

    <delete id="deleteUserAppInfoByIds" parameterType="String">
        delete from tb_user_app_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>